body {
  background: #2f3a4f;
  padding: 10px;
  margin: 0;
  overflow: hidden;
  max-width: 500px;
  height: auto;
}

/* Buttons Group */
.buttons-group {
  display: flex;
  margin-left: 5px;
  margin-top: 5px;
}

.buttons-group:not(:first-child) {
  margin-top: 10px;
}

.btn {
  min-width: 100px;
  height: 30px;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  color: white;
  background: #384d75;
}

.sm-btn {
  min-width: 47px;
}

.link-btn {
  text-decoration: none;
  height: auto;
  text-align: center;
  padding: 5px 0;
}

.btn:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.btn:not(:first-child) {
  margin-left: 10px;
}

/* Interval */
#interval_input {
  height: 28px;
  width: 43px;
  font-size: 24px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  text-align: center;
}

/* Checkbox Group */
.checkbox-group {
  position: absolute;
  right: 20px;
  top: 20px;
}

.button-group-nested {
  position: absolute;
  right: 0;
  bottom: -46px;
  display: flex;
}

/* Ticker Table */
.ticker-table {
  margin: 20px 5px;
  width: 675px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

th,
td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th:first-child,
td:first-child {
  border-left: 1px solid #ccc;
}

th {
  background-color: #f4f4f4;
  color: black;
  border-top: 1px solid #ccc;
}

tbody tr:first-child td {
  border-top: none;
}

.type-cell {
  padding: 2.5px;
  margin: 0;
  border-radius: 5px;
}

.fa-trash-o,
.fa-eye,
.fa-eye-slash {
  cursor: pointer;
}

.fa-trash-o:hover {
  color: rgb(255, 0, 0);
}

.fa-eye:hover,
.fa-eye-slash:hover {
  color: rgb(108, 108, 108);
}

.fa-bars:hover {
  cursor: grab;
}

.fa-bars:active {
  cursor: grabbing;
}

.dragging {
  background-color: black;
}

.highlight {
  background-color: #384d75;
}