@font-face {
	font-family: 'Gotham Bold';
	src: url('../shared/fonts/Gotham-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Gotham Book';
	src: url('../shared/fonts/Gotham-Book.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Light';
	src: url('../shared/fonts/Gotham-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Medium';
	src: url('../shared/fonts/Gotham-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	background: url('../shared/assets/mountain.jpg');
	background-size: 170%;
	background-position: 45% 23.45%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#nav_wrapper {
	width: 350px;
	position: absolute;
	top: 100px;
	right: 0;
}

#nav_decoration {
	width: 127px;
	height: 127px;
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	animation: decoration-slide-in .5s ease-in forwards;
}

#box_1 {
	position: relative;
	background: url('../shared/assets/brick-right.png');
	height: 126px;
	width: 127px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: .8;
}

/* Decoration & Main Animate In */
#nav_main {
	position: absolute;
	right: 53.5px;
	width: 370px;
	animation: reveal .5s ease-in forwards .3s;
	opacity: 0;
}

@keyframes decoration-slide-in {
	0% {
		transform: translateX(127px);
	}
	100% {
		transform: translateX(40px);
	}
}

@keyframes reveal {
	0% {
		opacity: 0;
		clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
	}
	100% {
		opacity: 1;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
} 

/* Decoration & Main Animate Out */
@keyframes decoration-slide-out {
	0% {
		transform: translateX(40px);
	}
	100% {
		transform: translateX(127px);
	}
}

@keyframes hide {
	0% {
		opacity: 1;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
	100% {
		opacity: 0;
		clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
	}
}

#nav_main div {
	padding: 0 7.5px;
}

#nav_header {
	font-family: 'Gotham Bold', sans-serif;
	text-transform: uppercase;
	font-size: 1.5em;
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	background: linear-gradient(to right, rgb(197, 197, 197) 0%, rgb(220, 220, 220) 100%);
	color: rgb(39, 38, 38);
}

/* Text Animate In */
#nav_header .text {
  	display: inline-block;
	position: relative;
	top: 1px;
	opacity: 0;
  	animation: text-slide-in .5s ease-in forwards 1s;
}

@keyframes text-slide-in {
	0% {
		opacity: 0;
		transform: translateY(0);
	}
	100% {
		transform: translateY(-1px);
		opacity: 1;
	}
}

@keyframes text-slide-out {
	0% {
		opacity: 1;
		transform: translateY(-1px);
	}
	100% {
		transform: translateY(0px);
		opacity: 0;
	}
}

@keyframes text-slide-up-alt {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	100% {
		transform: translateY(-2px);
		opacity: 1;
	}
}

#nav_content {
	font-family: 'Gotham Book', sans-serif;
	text-transform: uppercase;
	color: white;
	background-image: linear-gradient(to right, rgb(62, 62, 62) 0%, rgb(62, 62, 62) calc(100% - 40px),  rgba(62, 62, 62, 1) calc(100% - 40px), rgba(62, 62, 62, .6) 100%);
	display: flex;
	flex-direction: column;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	position: relative;
}

.nav_content::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.3), transparent);
	pointer-events: none;
  }

  .fade-in-right {
  position: relative;
}

.fade-in-right::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background: inherit;
  opacity: 0.7;
  pointer-events: none;
}

#nav_title {
	font-family: 'Gotham Medium', sans-serif;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-size: 1.5em;
}

#nav_title .text {
	display: inline-block;
	position: relative;
	top: 1px;
	opacity: 0;
	animation: text-slide-in 1s ease-in forwards .5s;
}

/* Time */
#nav_time {
	font-size: 1.35em;
}

.time-text-part {
	opacity: 0;
}

@keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}

@keyframes fade-out {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
}

@keyframes time-text-slide-in {
	0% {
	  opacity: 0;
	  transform: translateY(0px);
	}
	100% {
	  opacity: 1;
	  transform: translateY(-1px);
	}
}

/* Footer */
.footer_wrapper {
	position: absolute;
	right: 0;
	top: 120px;
}

#nav_footer {
	height: 30px;
	width: 150px;
	background-color: black;
	color: white;
	position: relative;
	top: -24px;
	right: 53.5px;
	animation: reveal-footer .5s ease-in forwards .3s;
	opacity: 0;
}

@keyframes reveal-footer {
	0% {
		opacity: 0;
		clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
	}
	100% {
		opacity: 1;
		clip-path: polygon(0 0, 100% 0, 100% 100%, -30px 100%);
	}
}

@keyframes hide-footer {
	0% {
		opacity: 1;
		clip-path: polygon(0 0, 100% 0, 100% 100%, -30px 100%);
	}
	100% {
		opacity: 0;
		clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
	}
}

#nav_footer:before {
	content: '';
	position: absolute;
	top: 0;
	left: -29px;
	width: 0;
	height: .5px;
	border-left: 30px solid transparent;
	border-bottom: 30px solid black;
}

#nav_footer .text {
	font-family: 'Gotham Light', sans-serif;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-size: 1.35em;
	position: relative;
	top: 3px;
	left: 5px;
}

/* Triangle */
#triangle {
	position: absolute;
	top: -24px;
    left: -110px;
    width: 57px;
    height: 30px;
	height: 30px;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
}

#triangle img {
	position: absolute;
	bottom: -8px;
	left: 20%;
	transform: translateX(-50%) rotate(-45deg);
	width: 126%;
	opacity: 0;
	animation: fade-in-diagonal 1s ease-in forwards .5s, diagonal-animation-1 2s linear 1s forwards;
}
  
@keyframes fade-in-diagonal {
	0% {
		opacity: 0;
		transform: translateX(-50%) rotate(-45deg);
	}
	100% {
		opacity: 1;
		transform: translateX(-50%) rotate(-45deg);
	}
}

@keyframes diagonal-animation-1 {
	0% {
		position: absolute;
		bottom: -8px;
		left: 20%;
		transform: translateX(-50%) translateY(0%) rotate(-45deg);
	}
	100% {
		position: absolute;
		bottom: -8px;
		left: 20%;
		transform: translateX(-38%) translateY(-18%) rotate(-45deg);
	}
}
  
@keyframes diagonal-animation-2 {
	0% {
		opacity: 1;
		transform: translateX(-38%) translateY(-18%) rotate(-45deg);
	}
	10% {
		opacity: 0;
	}
	50% {
		opacity: 0;
		transform: translateX(0%) translateY(-66.66%) rotate(-45deg);
	}
	100% {
		opacity: 0;
		transform: translateX(40%) translateY(-140%) rotate(-50deg);
	}
}

/* Button Group */
.button-group {
	position: absolute;
	top: 130px;
	right: 60px;
}